*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*:not(i) {
	font-family: "Roboto Mono", monospace;
	color: #ffffff;
}
body {
	height: 100vh;
	background-color: #17213A;
}
.box {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.container {
	width: 320px;
}

.signup-body{
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.06);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	padding: 50px 25px;
	-webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
	box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
	border: 1.5px solid rgba(255, 255, 255, 0.06);
	border-radius: 8px;
}

.shape1 {
	height: 440px;
	width: 415px;
	position: absolute;
	background: -o-linear-gradient(315deg, #e7992b, #ff3de2);
	background: linear-gradient(135deg, #e7992b, #ff3de2);
	bottom: 35px;
	right: -50px;
	border-radius: 10px;
	z-index: -1;
}


.wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

h2{
	color: #11182b;
	font-size: 30px;
}
label{
	font-size: 20px;
	color: #11182b;
}
input{
	padding: 15px 10px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	outline: none;
	background-color: transparent;
	margin-top: 5px;
	color: #ffffff;
	font-size: 17px;
}

::placeholder{
	color: #11182b;
}

.btn{
	background-color: #17213A;
	border: none;
	padding: 15px;
	margin-top: 40px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	transition: .5s;
}

.btn:hover{
	transform: translateY(-5px);
	background: #11182a;
}